<!DOCTYPE html>
<html lang="en">
<head>
  <title>Articles <%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/style.css">

  <style>
  .article {
    background-color: #E9E9E9;
    padding: 10px;
    margin: 10px;
  }
  .img-fit {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <% include ./partials/nav %>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-2"></div>
      <div class="col-lg-4 col-sm-8 col-xs-12">
        <% if( articles.length == 0 ) { %>
        <h1 class="text-center">No articles found <%= title %></h1>
        <% } else { %>
        <h1 class="text-center">Articles <%= title %></h1>
        <% for (var i = 0; i < articles.length; i++) { %>
        <div class="row article">
          <% if( null != articles[i].headerImg ) { %>
          <img class="img-fit" src="/<%= articles[i].id %>-<%= articles[i].headerImg %>" alt="<%= articles[i].urlTitle %>">
          <% } else { %>  
          <img class="img-fit" src="http://theccat.com/wp-content/themes/gonzo/images/no-image-featured-image.png">
          <% } %>
          <div class="col-xs-8">
            <span>
              <b>
                <a target="_blank" href="<%= urlBase %>/article/<%= articles[i].urlCategory %>/<%= articles[i].urlTitle %>"><%= articles[i].title %></a>
              </b>
            </span><br>
            <span><%= articles[i].datePublished %></span>
          </div>
          <div class="col-xs-4">
            <a target="_blank" href="<%= urlBase %>/author/<%= articles[i].urlAuthor %>"><%= articles[i].author %></a>&nbsp;in
            <a target="_blank" href="<%= urlBase %>/category/<%= articles[i].urlCategory %>"><%= articles[i].category %></a>
          </div>
        </div><br>
        <% } %>
        <% } %>
      </div>
    </div>
    <div class="col-lg-4 col-sm-2"></div>
  </div>

  <% include ./partials/footer %>

</body>
</html>